
#AboutHeader {
    font: 120 45px/1.3 'Atma', Helvetica, sans-serif;
    color: rgba(205, 116, 235, 0.904);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);

  }
  
  #Inspiration{
    font: 20px/1.3 'Atma', Helvetica, sans-serif;
    color: rgba(178, 52, 220, 0.904);

  }
  
  body {
    font: 10 17px/1.3 'Atma', Helvetica, sans-serif;

  }
  .bodytext1 {
    font: 10 17px/1.3 'Times New Roman', Helvetica, sans-serif;
    padding-left: 2em;
  
  }

  #goal_scope{
    font: 20px/1.3 'Atma', Helvetica, sans-serif;
    color: rgba(178, 52, 220, 0.904);
  }
  
  .bodytext2 {
    font: 10 17px/1.3 'Times New Roman', Helvetica, sans-serif;
    padding-left: 2em;
  
  }

  #data_overview{
    font: 20px/1.3 'Atma', Helvetica, sans-serif;
    color: rgba(178, 52, 220, 0.904);
  }
  
  .bodytext3 {
    font: 10 17px/1.3 'Times New Roman', Helvetica, sans-serif;
    padding-left: 2em;
  
  }

  .bodytext4 {
    font: 10 17px/1.3 'Times New Roman', Helvetica, sans-serif;
    padding-left: 2em;
  
  }
  #data_coll{
    font: 20px/1.3 'Atma', Helvetica, sans-serif;
    color: rgba(178, 52, 220, 0.904);
  }

  .bodytext5 {
    font: 10 17px/1.3 'Times New Roman', Helvetica, sans-serif;
    padding-left: 2em;
  }

  #steps{
    font: 20px/1.3 'Atma', Helvetica, sans-serif;
    color: rgba(178, 52, 220, 0.904);
  }

  .bodytext6 {
    font: 10 17px/1.3 'Times New Roman', Helvetica, sans-serif;
    padding-left: 2em;
  }



  /* Add a black background color to the top navigation */
  .topnav {
      background-color: rgb(87, 87, 87);
      overflow: hidden;
    }
    
    /* Style the links inside the navigation bar */
    .topnav a {
      font: 10 17px/1.3 'Atma', Helvetica, sans-serif;
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      font: 10 17px/1.3 'Atma', Helvetica, sans-serif;
      background-color: #ddd;
      color: black;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
      font: 10 17px/1.3 'Atma', Helvetica, sans-serif;
      background-color: rgba(205, 116, 235, 0.904);
      color: white;
    }